.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.todo-app {

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
}

.add-button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(150, 150, 150);
}

.edit-button,
.delete-button {
    color: black;
    border: none;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 20px;
    border: 1px solid white;
}

.edit-button:hover {
    border: 1px solid #218838;
}

.delete-button {
    color: red;
}

.delete-button:hover {
    border: 1px solid #c82333;

}